@page
@model WebApplication2.Pages.IndividualItemModel
@{
}
<p>Item information</p>

<p>ID: @Model.Item.Id</p>
<p>Title: @Model.Item.Title</p>
<p>Author: @Model.Item.Author</p>
<p>Publihser: @Model.Item.Publisher</p>
<p>Genre: @Model.Item.Genre</p>
<p>Description: @Model.Item.Description</p>
